/* ---------- input form ---------- */
form {
    position:relative;
    background-color:var(--bgcolor);
    left:0;
    right:0;
    margin:10px 10px;
    padding:15px;
    min-width:268px;
    max-width:600px;
    border:1px solid var(--bdcolor);
    border-radius:10px;
    box-shadow:2px 2px 4px var(--shcolor);
}

#metaData {
    display:flex;
    column-gap:20px;
}

#metaData .column {
    white-space:nowrap;
    width:50%;
}

#metaData input {
    flex:1 1 auto;
    font-family:"Alegreya", serif;
    font-size:16px;
    padding:0 5px;
    border:1px solid var(--bdcolor);
    border-radius:5px;
}

#content {
    display:flex;
    padding-top:20px;
}
#content label {
    padding-top:5px;
}

#content textarea {
    font-family:"Alegreya", serif;
    font-size:16px;
    width:100%;
    min-height:200px;
    padding:5px;
    border-radius:10px;
}

form button {
    margin-top:30px;
}

@media screen and (max-width:600px) {
    #metaData {
        display:block;
        white-space:wrap;
        width:auto;
    }

    #metaData .column {
    padding-bottom:5px;
    }
    

    form {
        min-width:auto;
        width:auto;
    }
}