/* ---------- input form ---------- */
form {
    position:relative;
    left:0;
    right:0;
    margin:10px auto ;
    padding:15px;
    max-width:700px;
    min-width:580px;
    border:1px solid var(--bdcolor);
    border-radius:10px;
    box-shadow:2px 2px 4px var(--shcolor);
    background-color:var(--bgcolor);
}

#metaData {
    display:flex;
    column-gap:2rem;
}

#metaData .column {
    width:50%;
    white-space:nowrap;
}

#metaData input {
    padding:0 .25rem;
    border:1px solid var(--bdcolor);
    border-radius:5px;
}

#content {
    display:flex;
    padding-top:1rem;
}
#content label {
    padding-top:.25rem;
}

#content textarea {
    width:100%;
    min-height:200px;
    padding:.25rem;
    border-radius:10px;
}