/* ---------- all pages ---------- */
/* ---------- responsive design ---------- */
 /* ----- page ----- */
.page {
    margin:auto;
    padding:10px;
}

html {
    --bdcolor:#888;
    --shcolor:#333;
    --bgcolor:#eee;
    font-family:"Alegreya", serif;
    font-size:16px;
    font-weight:400;
    line-height: 135%;
    max-width:600px;
    margin:auto;
    padding-top:20px;
}

label {
    vertical-align:baseline;
    padding-right:10px;
}

h1 {
    font-weight:600;
    font-size:28px;
    text-align:center;
    margin-bottom:30px;
}

button {
    position:absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:500;
    font-size:13px;
    background-color:var(--bgcolor);
    right:0;
    padding:7px;
    border:1px solid var(--bdcolor);
    border-radius:10px;
    box-shadow:2px 2px 4px var(--shcolor);
}

/* ---------- footer ----------*/
footer {
    position:fixed;
    font-size:14px;
    background-color:white;
    width:calc(100vw - 20px);
    right:0;
    left:0;
    margin:auto;
    padding:10px;
    bottom:0;
    border-top:1px solid black;
}